.addCard{
  width: 90% !important;
  margin: auto !important;
}

.card-title{
    background: linear-gradient(to right, #120E4F 0%, #363363 10%, #FFFFFF 90%, #FFFFFF 100%);
}

form{
  width: 30% !important ;
  margin: auto !important;
}

.inputSelect
{
  width: 100% !important;
}
.card-header-title{
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal !important;
}

.card-body{
    margin-top: 60px !important;
}


.cardLoader{
  width: 60% !important;
  margin: auto !important;
  margin-top: 30px !important;
}

.load{
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

.edit{
  margin-right: 5px !important;
}

.btn1{
  margin-left: 25% !important;
}

.btnAlign{

  float: right !important;
  margin-right: 20px !important;
}
.btnGroup{
  background-color: #120E4F;
  color:white;
  margin-top: 7px !important;
}
.btnGroup:hover{
  background-color: #363363;
  color:white;
}

.titulo{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px !important;
  text-align: center;
  color: #120E4F !important;
}



table{
  width: 90% !important;
  margin: auto !important;
  font-family: 'Montserrat', sans-serif !important;
}


thead {
  display: table; /* to take the same width as tr */
  width: calc(100% - 17px); /* - 17px because of the scrollbar width */
  text-align: center !important;
}

tbody {
  display: block; /* to enable vertical scrolling */
  max-height: 450px; /* e.g. */
  overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  text-align: center !important;
}

th, td {
  width: 33.3%; /* to enable "word-break: break-all" */
  padding: 5px;
  word-break: break-all; /* 4. */
}

tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
  text-align: center;
  border-bottom: none;
  border-left: none;
}


label{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  font-size: 15px !important;
  text-align: left !important;
  color: #120E4F !important;
}

input{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
}

textarea{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
}
