<div class="card card-title">
    <header class="card-header">
      <p class="card-header-title">
        <img src="./assets/img/users.png"> &nbsp; Gestión de usuarios
      </p>

    </header>
</div>

<div class="card card-body">
    <header class="card-header">
      <p class="card-header-title">
        <img src="./assets/img/users.png">
      </p>

    </header>

    <div class="card-content">
      <div class="columns">
        <div class="column is-one-third" *ngFor="let obj of objUsuarios">
          <div class="card" >
            <div class="card-content">
              {{obj.alias}}
            </div>
          </div>
        </div>
      </div>

      <nav class="pagination" role="navigation" aria-label="pagination">

        <ul class="pagination-list">
          <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
          </li>
        </ul>
      </nav>

    </div>
</div>

<ng-template #buttons>
  <button  ejs-button>Click Me</button>
</ng-template>
