<div class="card card-title">

      <div class="columns">

        <div class="column is-two-thirds">
          <p class="card-header-title">
            <img src="./assets/img/users.png"> &nbsp; Gestión de usuarios
          </p>
        </div>

        <div class="column is-one-third">
          <div class="field has-addons btnAlign">
            <p class="control">
              <button class="button btnGroup" (click)="showListado()">
                <span class="icon is-small">
                  <img src="./assets/img/completed-task.png">
                </span>
                <span>Ver Listado</span>
              </button>
            </p>
            <p class="control">
              <button class="button btnGroup" (click)="showCardAgregar()">
                <span class="icon is-small">
                  <img src="./assets/img/add.png">
                </span>
                <span>Agregar nuevo usuario</span>
              </button>
            </p>
          </div>
        </div>

      </div>


</div>

<!--Skeleton loader-->
<div class="cardLoader" *ngIf="showLoader">
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
</div>



<!--Card para tabla de listado de usuarios-->
<div class="card card-body" style="top: -20px !important;" *ngIf="showData">

    <div class="card-content">

      <div class="columns">
        <div class="column is-two-thirds">
          <h2 class="titulo">Listado de usuarios y roles asignados</h2>
        </div>

        <div class="column is-one-quarter">
          <div class="field">
            <label class="label">Buscar</label>
            <div class="control">
              <input class="input" type="text" placeholder="Buscar"
              (ngModelChange)="ConvertToLower($event)" [(ngModel)]="_texto" id="texto" name="texto">
            </div>
          </div>
        </div>

      </div>

      <table class="table is-bordered is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th style="background-color: #120E4F; color:white;">Usuario</th>
            <th style="background-color: #120E4F; color:white;">Rol</th>
            <th style="background-color: #120E4F; color:white;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of objUsuarios | searchusuario: texto">
            <td>{{obj.nombreUsuario}}</td>
            <td>{{obj.rol}}</td>
            <td>
              <button class="button is-primary is-small is-light btn1" (click)="showCardEditar(obj)">
                <img src="./assets/img/editar.png" >
              </button>
              <button class="button is-danger is-small is-light btn" (click)="eliminarUsuario(obj)">
                <img src="./assets/img/trash.png" >
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

</div>


<!--Card para agregar un nuevo usuario-->
<div class="card card-body addCard" style="top: -20px !important;" *ngIf="showCardAdd">
  <div class="card-content">

    <div class="columns">
      <div class="column is-full">
        <h2 class="titulo">Agregar nuevo Usuario</h2>
      </div>

    </div>

    <form [formGroup]="agregarUsuarioForm">
      <div class="field">
        <div class="control has-icons-left ">
          <div class="select inputSelect">
            <select class="inputSelect" formControlName="usuario">
              <option selected value="">Seleccione el usuario</option>
              <option *ngFor="let user of listUsuarios" value="{{user.id}}">{{user.nombre}}</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <img src="./assets/img/user.png">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left inputSelect">
          <div class="select inputSelect">
            <select class="inputSelect" formControlName="rol">
              <option selected value="">Seleccione el rol a asignar</option>
              <option *ngFor="let rl of listRoles" value="{{rl.id}}">{{rl.rol}}</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <img src="./assets/img/rol.png">
          </div>
        </div>
      </div>
      <br>
      <div class="field">
        <p class="control">
          <button class="button is-link is-fullwidth" [disabled] = "agregarUsuarioForm.invalid"
          (click)="guardarUsuario()">
            Agregar Usuario
          </button>
          <br>
          <button class="button is-link is-light is-fullwidth" (click)="showListado()">
            Cancelar
          </button>
        </p>
      </div>
    </form>



  </div>
</div>


<!--Card para editar un usuario-->
<div class="card card-body addCard" style="top: -20px !important;" *ngIf="showCardEdit">
  <div class="card-content">

    <div class="columns">
      <div class="column is-full">
        <h2 class="titulo">Editar Usuario</h2>
      </div>

    </div>

    <form [formGroup]="editarUsuarioForm">
      <div class="field">
        <div class="control has-icons-left ">

          <input class="input" type="text" [(ngModel)]="userEdit.nombreUsuario" readonly  formControlName="nombre">
          <input class="input" type="hidden" formControlName="idUsuarioRol" name="idUsuarioRol" [(ngModel)]="userEdit.idUsuarioRol">
          <div class="icon is-small is-left">
            <img src="./assets/img/user.png">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left inputSelect">

          <div class="select inputSelect">
            <select class="inputSelect" formControlName="idRol" [(ngModel)]="userEdit.idRol">
              <option *ngFor="let rl of listRoles" value="{{rl.id}}">{{rl.rol}}</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <img src="./assets/img/rol.png">
          </div>
        </div>
      </div>
      <br>
      <div class="field">
        <p class="control">
          <button class="button is-link is-fullwidth" [disabled] = "editarUsuarioForm.invalid"
          (click)="editarUsuario()">
            Editar Usuario
          </button>
          <br>
          <button class="button is-link is-light is-fullwidth" (click)="showListado()">
            Cancelar
          </button>
        </p>
      </div>
    </form>


  </div>
</div>


