/* You can add global styles to this file, and also import other style files */
p{
  color: #120E4F !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 13px !important;
  font-weight: bold !important;
}


th{
  background-color: #120E4F !important;
  color:white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 13px !important;
}


td{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 13px !important;
}


