<div class="card card-title">

  <div class="columns">

    <div class="column is-two-thirds">
      <p class="card-header-title">
        <img src="./assets/img/coche.png"> &nbsp; Gestión de Vehículos
      </p>
    </div>



  </div>


</div>

<!--Skeleton loader-->
<div class="cardLoader" *ngIf="showLoader">
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
  <progress class="progress is-small is-light load" max="100">15%</progress>
</div>


<!--Card para tabla de listado de vehiculos-->
<div class="card card-body" style="top: -20px !important;" *ngIf="showData">

  <div class="card-content">

    <div class="columns">
      <div class="column is-two-thirds">
        <h2 class="titulo">Listado de vehiculos</h2>
      </div>

      <div class="column is-one-quarter">
        <div class="field">
          <label class="label">Buscar</label>
          <div class="control">
            <input class="input" type="text" placeholder="Buscar"
            (ngModelChange)="ConvertToLower($event)" [(ngModel)]="_texto" id="texto" name="texto">
          </div>
        </div>
      </div>

    </div>

    <table class="table is-bordered is-striped is-narrow is-hoverable">
      <thead>
        <tr>
          <th>Numeración</th>
          <th>Placa</th>
          <th>Grupo</th>
          <th>Dueño</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vh of tblVehiculos | searchvehiculos: texto">
          <td>{{vh.numeracion}}</td>
          <td>{{vh.placa}}</td>
          <td>{{vh.grupo}}</td>
          <td>{{vh.dueno}}</td>
          <td>{{vh.marca}}</td>
          <td>{{vh.modelo}}</td>
          <td>{{vh.anio}}</td>

          <td>
            <button class="button is-primary is-small is-light btn1">
              <img src="./assets/img/editar.png" (click)="editarVehiculo(vh)">
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>


<div class="card card-body addCard" style="top: -20px !important;" *ngIf="showCardEdit">
  <div class="card-content">

    <div class="columns">
      <div class="column is-full">
        <h2 class="titulo">Editar Vehiculo</h2>
      </div>

    </div>

    <form [formGroup]="frm_vehiculo">
      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Número de vehiculo</label>
        </div>
        <div class="column is-one-third">
          <input class="input is-link" type="text" placeholder="N° Vehiculo" [(ngModel)]="datos_vehiculo.numeracion" formControlName="numeracion">

          <input class="input is-link" type="hidden"  [(ngModel)]="datos_vehiculo.id" formControlName="id">
        </div>


        <div class="column is-one-fifth">
          <label class="label">Placa</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="text" placeholder="Placa"  formControlName="placa" [(ngModel)]="datos_vehiculo.placa">
        </div>


      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Responsable</label>
        </div>
        <div class="column is-one-third">
          <div class="select inputSelect">
            <select class="inputSelect" formControlName="usuario" [(ngModel)]="datos_vehiculo.id_dueno">
              <option selected value="">Seleccione</option>
              <option *ngFor="let user of listUsuarios" value="{{user.id}}">{{user.nombre}}</option>
            </select>
          </div>
        </div>


        <div class="column is-one-fifth">
          <label class="label">Marca</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="text" placeholder="Marca" [(ngModel)]="datos_vehiculo.marca"
              formControlName="marca">
        </div>


      </div>


      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Modelo</label>
        </div>
        <div class="column is-one-third">
          <input class="input is-link" type="text" placeholder="Modelo" [(ngModel)]="datos_vehiculo.modelo"
          formControlName="modelo">
        </div>


        <div class="column is-one-fifth">
          <label class="label">Año</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="text" placeholder="Año" [(ngModel)]="datos_vehiculo.anio"
              formControlName="anio">
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Taller</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="text" placeholder="Taller" [(ngModel)]="datos_vehiculo.taller"
              formControlName="taller">
        </div>

      </div>
      <br><br>
      <div class="field">
        <p class="control">
          <button class="button is-link is-fullwidth"
          (click)="guardarEdicion()">
            Guardar modificaciones
          </button>
          <br>
          <button class="button is-link is-light is-fullwidth" (click)="showListado()">
            Cancelar
          </button>
        </p>
      </div>
    </form>


  </div>
</div>
