<div class="card card-body">
  <header class="card-header">
    <p class="card-title">Nueva solicitud para mantenimiento de vehículos</p>
  </header>
  <div class="card-content">
    <form [formGroup]="n_solicitud_form">
      <div class="columns">
        <div class="column is-one-fifth">
              <label class="label">Fecha de solicitud</label>
        </div>

        <div class="column">
            <p class="control is-expanded has-icons-left">
              <input class="input is-link fullWidth" type="date" formControlName="fecha_solicitud">
              <span class="icon is-small is-left">
                <img src="./assets/img/schedule.png" >
              </span>
            </p>
        </div>

        <div class="column">
              <label class="label">Días estimados de trabajo</label>
        </div>

        <div class="column">
            <p class="control is-expanded has-icons-left">
              <input class="input is-link is-fullWidth" type="number" placeholder="Selecciona la cantidad"
              formControlName="dias_estimados">
              <span class="icon is-small is-left">
                <img src="./assets/img/calendar.png" >
              </span>
            </p>
        </div>

      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Nombre del Solicitante</label>
        </div>
        <div class="column is-half">
          <p class="control is-expanded has-icons-left">
            <input class="input is-link is-fullWidth" placeholder="Nombre del solictante"
            [(ngModel)]="user.nombreUsuario" formControlName="nombreSolicitante" readonly>
            <span class="icon is-small is-left">
              <img src="./assets/img/user.png" >
            </span>
          </p>
          <input class="input" type="hidden"[(ngModel)]="user.id" formControlName="id_solicitante" readonly>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Área</label>
        </div>
        <div class="column is-half">
          <p class="control is-expanded has-icons-left">
            <input class="input is-link is-fullWidth" placeholder="Área del solictante"
            [(ngModel)]="user.area" readonly formControlName="departamento">
            <span class="icon is-small is-left">
              <img src="./assets/img/location.png" >
            </span>
          </p>
        </div>
      </div>
      <br><br>
      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Número de equipo</label>
        </div>
        <div class="column is-half">
          <div class="control has-icons-left inputSelect">
            <div class="select inputSelect is-link">
              <select class="inputSelect is-link" formControlName="id_vehiculo" (ngModelChange)="getKmbyVehiculo()">
                <option selected value="">Selecciona el vehículo</option>
                <option *ngFor="let vh of objVehiculos" value="{{vh.id}}">{{vh.numeracion}}</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <img src="./assets/img/steps.png">
            </div>
          </div>
        </div>
      </div>

      <div class="columns" *ngFor="let km of km_actuales">
        <div class="column is-one-fifth">
          <label class="label">Kilometraje actual</label>
        </div>
        <div class="column is-half">
          <p class="control is-expanded has-icons-left">
            <input class="input is-link is-fullWidth" type="number" placeholder="Kilometraje actual"  [(ngModel)]="km.km_final"
            formControlName="km_actual">
            <span class="icon is-small is-left">
              <img src="./assets/img/km.png" >
            </span>
          </p>
        </div>
      </div>

      <div class="columns"  >
        <div class="column is-one-fifth">
          <label class="label">Kilometraje según sticker:</label>
        </div>
        <div class="column is-half">
          <p class="control is-expanded has-icons-left">
            <input class="input is-link is-fullWidth" type="number" placeholder="Kilometraje según sticker"
            formControlName="km_sticker">
            <span class="icon is-small is-left">
              <img src="./assets/img/km.png" >
            </span>
          </p>
        </div>
      </div>




      <br><br>
      <div class="columns">
        <div class="column is-one-fifth">
              <label class="label">Tipo de mantenimiento</label>
        </div>

        <div class="column is-one-fifth">

          <div class="select inputSelect is-link">
            <select class="inputSelect is-link" formControlName="tipo_mantenimiento" (ngModelChange)="getTipoMtto()">
              <option set selected value="0">Selecciona</option>
              <option  value="Correctivo">Correctivo</option>
              <option  value="Preventivo">Preventivo</option>
            </select>
          </div>
        </div>




      </div>


      <div class="columns">

        <div class="column is-one-fifth" *ngIf="tipo_mtto != null">
          <label class="label">Detalle del mtto</label>
        </div>

        <div class="column is-one-third" *ngIf="tipo_mtto != null">
          <div class="select inputSelect is-link">
            <select class="inputSelect is-link" formControlName="detalles_mtto" (ngModelChange)="getTipoContrato()">
              <option set selected value="0">Selecciona</option>
              <option *ngFor="let dt of tipo_mtto" value="{{dt.nombre}}">{{dt.nombre}}</option>
            </select>

          </div>


        </div>

        <div class="column is-one-fifth" *ngIf="tipo_mtto != null && validar_lista">
          <button class="button is-success is-light" (click)="addDetalle()">
            <img src="./assets/img/plus.png" >
          </button>
        </div>

        <div class="column is-one-quarter"  *ngIf="lista_mttos.length > 0 && validar_lista">
            <table>
              <thead>
                <tr>
                  <th>Detalle</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dt of lista_mttos; index as indexOfelement;">
                  <td>{{dt.detalles_mtto}}</td>
                  <td>&nbsp;&nbsp;
                    <button class="button is-small is-danger is-light" (click)="eliminarDetalle(indexOfelement)">
                      <img src="./assets/img/trash.png" >
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

        </div>


          <div class="column" *ngFor="let dt of detalle_contrato">
            <label class="label">Agencia de contrato</label>
          </div>

          <div class="column" *ngFor="let dt of detalle_contrato">
            <input class="input is-link" type="text" placeholder="N° de Contrato" readonly [(ngModel)]="dt.nombre_agencia"
            formControlName="agencia">
          </div>

          <div class="column" *ngFor="let dt of detalle_contrato">
            <label class="label">N° de Contrato</label>
          </div>

          <div class="column" *ngFor="let dt of detalle_contrato">
            <input class="input is-link" type="text" placeholder="N° de Contrato"
            formControlName="n_contrato" readonly [(ngModel)]="dt.n_contrato">
          </div>

          <div class="column" *ngIf="detalle_contrato.length === 0 && validar_contrato">
            <label class="label">El vehículo no posee contrato activo</label>
          </div>

      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Observaciones adicionales</label>
        </div>

        <div class="column is-half">
          <textarea class="textarea is-link" placeholder="Observaciones adicionales"
          formControlName="observaciones"></textarea>
        </div>
      </div>
      <br><br>

      <div class="columns">
        <div class="column">
          <button class="button is-link is-fullwidth" (click)="guardar_soli()">Guardar solicitud</button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button class="button is-link is-light is-fullwidth" (click)="cancelar_soli()">Cancelar solicitud</button>
        </div>
      </div>
    </form>
  </div>
</div>
