<div class="card card-title">

  <div class="columns">

    <div class="column is-two-thirds">
      <p class="card-header-title">
        <img src="./assets/img/users.png"> &nbsp; Gestión de contratos
      </p>
    </div>

    <div class="column is-one-third">
      <div class="field has-addons btnAlign">
        <p class="control">
          <button class="button btnGroup" (click)="showListado()">
            <span class="icon is-small">
              <img src="./assets/img/completed-task.png">
            </span>
            <span>Ver Listado</span>
          </button>
        </p>
        <p class="control">
          <button class="button btnGroup" (click)="showCardAgregar()">
            <span class="icon is-small">
              <img src="./assets/img/add.png">
            </span>
            <span>Agregar nuevo contrato</span>
          </button>
        </p>
      </div>
    </div>

  </div>


</div>

<!--Skeleton loader-->
<div class="cardLoader" *ngIf="showLoader">
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
<progress class="progress is-small is-light load" max="100">15%</progress>
</div>



<!--Card para tabla de listado de usuarios-->
<div class="card card-body" style="top: -20px !important;" *ngIf="showData">

<div class="card-content">

  <div class="columns">
    <div class="column is-two-thirds">
      <h2 class="titulo">Listado de contratos por vehiculo</h2>
    </div>

    <div class="column is-one-quarter">
      <div class="field">
        <label class="label">Buscar</label>
        <div class="control">
          <input class="input" type="text" placeholder="Buscar" autocomplete="off"
          (ngModelChange)="ConvertToLower($event)" [(ngModel)]="_texto" id="texto" name="texto">
        </div>
      </div>
    </div>

  </div>

<table class="table is-bordered is-striped is-narrow is-hoverable">
    <thead>
      <tr>
        <th>N° Contrato</th>
        <th>Agencia</th>
        <th>N° Vehiculo</th>
        <th>Serv. Restantes</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of tblContratos  | searchcontrato:texto">
        <td>{{obj.n_contrato}}</td>
        <td>{{obj.nombre_agencia}}</td>
        <td>{{obj.vehiculo}}</td>
        <td>{{obj.serv_restantes}}</td>
        <td>{{obj.estado_contrato}}</td>
        <td>

          <button class="button is-danger is-small is-light btn" (click)="eliminarContrato(obj)">
            <img src="./assets/img/trash.png" >
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>

<!--Card para agregar un nuevo usuario-->
<div class="card card-body addCard" style="top: -20px !important;" *ngIf="showCardAdd">
  <div class="card-content">

    <div class="columns">
      <div class="column is-full">
        <h2 class="titulo">Agregar nuevo contrato</h2>
      </div>

    </div>

    <form [formGroup]="agregarContratoForm">
      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Número de vehiculo</label>
        </div>
        <div class="column is-one-third">
          <div class="control inputSelect">
            <div class="select inputSelect is-link">
              <select class="inputSelect is-link" formControlName="id_vehiculo" (ngModelChange)="getDetallesVh()">
                <option selected value="0">Selecciona el vehículo</option>
                <option *ngFor="let vh of objVehiculos" value="{{vh.id}}">N°: {{vh.numeracion}} ----- Placa: {{vh.placa}}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="column is-one-fifth">
          <label class="label">N° Contrato</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="text" placeholder="N° Contrato"
              formControlName="n_contrato">
        </div>


      </div>

      <div class="colums"*ngIf="detalle_vh.length > 0">
        <div class="column is-one-third">
         <ul *ngFor="let vh of detalle_vh">
           <li><b>N°:</b> {{vh.numeracion}}</li>
           <li><b>Marca:</b> {{vh.marca}}</li>
           <li><b>Modelo:</b> {{vh.modelo}}</li>
           <li><b>Año:</b> {{vh.anio}}</li>

         </ul>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Agencia de servicio</label>
        </div>
        <div class="column is-one-third">
          <input class="input is-link" type="text" placeholder="Agencia de servicio"
          formControlName="agencia">
        </div>


        <div class="column is-one-fifth">
          <label class="label">Cantidad de servicios</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="number" placeholder="Cantidad de servicios"
              formControlName="cant_servs">
        </div>


      </div>


      <div class="columns">
        <div class="column is-one-fifth">
          <label class="label">Km Inicial</label>
        </div>
        <div class="column is-one-third">
          <input class="input is-link" type="number" placeholder="Km Inicial"
          formControlName="km_inicial">
        </div>


        <div class="column is-one-fifth">
          <label class="label">Km Final</label>
        </div>

        <div class="column is-one-third">
              <input class="input is-link" type="number" placeholder="Km Final"
              formControlName="km_final">
        </div>


      </div>


      <br>
      <div class="field">
        <p class="control">
          <button class="button is-link is-fullwidth" [disabled] = "agregarContratoForm.invalid"
          (click)="guardarContrato()">
           Crear contrato
          </button>
          <br>
          <button class="button is-link is-light is-fullwidth" (click)="showListado()">
            Cancelar
          </button>
        </p>
      </div>
    </form>



  </div>
</div>






